<% include ../shared/header%>
<header>
    <h2>CrizuZap - Agenda de contatos</h2>
</header>
<section>
    <form action="/contato" method="post">
        <input type="text" name="contato[nome]" placeholder="Nome do contato">
        <input type="email" name="contato[email]" placeholder="E-mail do contato">
        <button type="submit">Cadastrar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <% contatos.forEach((contato, i) => { %>
            <tr>
                <td><%- contato.nome %></td>
                <td><%- contato.email %></td>
                <td>
                    <a href="/chat">Zapiar</a>
                    <a href="/contato/<%- i %>">Detalhes</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</section>
<% include ../shared/exit%>
<% include ../shared/footer%>