<% include ../shared/header %>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat/chat.js"></script>
<header>
    <h3>CrizuZap - Chat</h3>
</header>
<section>
    <pre id="chat"></pre>
    <input type="hidden" id="nome" value="<%- usuario.nome %>">
    <input type="text" id="msg" placeholder="Digite aqui...">
    <button onclick="enviar();">Enviar</button>
</section>
<% include ../shared/exit %>
<% include ../shared/footer %>