<% include ../shared/header %>
<div class="boxLogin">
    <header>
        <h1>CrizuZap</h1>
        <h4>Bem-vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post">
            <input type="text" name="usuario[nome]" placeholder="Nome">
            <br>
            <input type="email" name="usuario[email]" placeholder="E-mail">
            <br>
            <button type="submit">Login</button>
        </form>
    </section>
</div>
<% include ../shared/footer %>
</body>

</html>