<% include ../shared/header %>
<header>
    <h1>CrizuZap</h1>
    <h4>Sorry, this page not exists :(</h4>
    <h6>Meybe in another castle...</h6>
</header>
<hr>
<p>Voltar para a <a href="/">página de login</a></p>
<% include ../shared/footer %>