<% include ../shared/header %>

<header>
    <h1>CrizuZap</h1>
    <h4>Oops, aconteceu um erro inesperado :(</h4>
</header>
<p>
    Detalhes do erro:
    <br>
    <%- error.message %>
</p>
<hr>

<p>Voltar para a <a href="/">página de contatos</a></p>
<% include ../shared/footer %>